<%#= form_with(model: article, local: true, html: {multipart: true}) do |form| %>
<%= form_for(@article, html: {multipart: true}) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_area :post, id: :article_post %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :article_user_id %>
  </div>
  
  <p>
    <%= form.label :tag_list %><br />
    <%= form.text_field :tag_list %>
  </p>

<p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
  <% end %>
  <%= form.label :image, "Attach a New Image" %><br />
  <%= form.file_field :image %>
</p>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
