<!DOCTYPE html>
<html>
  <head>
	<title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

	<%# TOODO ML fix %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <div id="wrapper">
 
<header>
 
<%# TODO %>
<%= link_to image_tag("mickey.jpg",  alt: "Mickey Logo"),
            {:controller => 'pages', :action => 'home'},
            {:class => 'websiteLogo'} %>
 
<%= link_to 'READIT' , {:controller => 'pages', :action => 'home'},
{:class => 'websiteTitle'} %>
 
</header>
 
<nav id="horzNav">
 
    <p>
      <%= link_to 'Home', {:controller => 'pages', :action => 'home'} %>
      <%= link_to 'About', {:controller => 'pages', :action => 'about'} %>
      <%= link_to 'Directions', {:controller => 'pages', :action => 'directions'} %>
      <%= link_to 'Articles', {:controller => 'articles', :action => 'index'} %>
      <%= link_to 'Users', {:controller => 'users', :action => 'index'} %>
	  <%= link_to 'Authors', {:controller => 'authors', :action => 'index'} %>
	  <%= link_to 'Tags', {:controller => 'tags', :action => 'index'} %>
    </p>
 
</nav>
 
<main id="content">
 
<body>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
    </div>
  </div>
</body>
 
</main>
 
</div> <!-- END OF WRAPPER -->
  
  
</html>
